* {
    color: black;
    font-family: Perpetua;
    background-color: rgb(157, 165, 189);
    margin: 0 auto;
}

header {
  height: 80px;
  width: 1440px;
}

header,
  nav,
    section,
      footer,
        article {
          border: 1px solid rgb(4,12,36);
          border-radius: 6px;
          padding: 10px 20px;
      }

h1 {
    border: 1px solid rgb(4,12,36);
    border-radius: 6px;
    padding: 10px 20px;
    margin: 5px;
}

p,
  li,
    aside {
    margin: 5px;
  }

h1 {
    font-size: 28px;
}

p {
    color: rgb(10, 32, 90);
    padding: 10px 20px;
}

li {
    color: rgb(10, 32, 90);
}

.box-model-properties li {
  font-weight: normal;
}

.color-palette {
  display: inline-block;
  border: 2px solid transparent;
}

.color-palette:hover {
  border: 2px solid rgb(255, 255, 255);
}


img:hover {
    border: 2px solid rgb(255, 255, 255);
}

img[src*="color-palette-space-theme.png"] {
    height: 120px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: top;
}

img[src*="Box-model.png"] {
    height: 120px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: top;
}

img[src*="margin-collapse.png"] {
    height: 110px;
    width: 140px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: top;
}

.box-model {
  display: inline-block;
  border: 2px solid transparent;
}

.box-model:hover {
  border: 2px solid rgb(255, 255, 255);
}



figcaption {
    font-size: 10px;
    font-weight: normal;
}

figcaption:hover {
    color: rgb(255, 255, 255);
}

.article-notes {
    font-weight: normal;
}

aside {
    font-size: 13px;
    color: rgb(255, 255, 255);
}

aside.comment-reference {
    color: rgb(58, 76, 122);
    font-weight: normal;
}

/*
Color Palette References
#ffffff	(255,255,255)
#9da5bd	(157,165,189)
#3a4c7a	(58,76,122)
#0a205a	(10,32,90)
#040c24	(4,12,36)
*/
