* {
    color: black;
    font-family: Arial;
    background-color: rgb(157, 165, 189);
}

h1 {
    font-size: 28px;
}

p {
    color: rgb(10, 32, 90);
}

li {
    color: rgb(10, 32, 90);
}

img:hover {
    border: 2px solid rgb(255, 255, 255);
}

img[src*="color-palette-space-theme.png"] {
    height: 120px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
}

figcaption {
    font-size: 10px;
}

figcaption:hover {
    color: rgb(255, 255, 255);
}

aside {
    font-size: 13px;
    color: rgb(255, 255, 255);
}

aside.comment-reference {
    color: rgb(58, 76, 122);
}
