* {
    color: black;
    font-family: Perpetua;
    background-color: rgb(157, 165, 189);
  /*  margin: 0; */
}

header {
  height: 80px;
  width: 1440px;
}

header,
  nav,
    section,
      footer,
        h2 {
          border: 1px solid rgb(4,12,36);
      }

h1 {
    font-size: 28px;
}

p {
    color: rgb(10, 32, 90);
}

li {
    color: rgb(10, 32, 90);
}

.box-model-properties li {
  font-weight: normal;
}

.color-palette {
  display: inline-block;
  border: 2px solid transparent;
}

.color-palette:hover {
  border: 2px solid rgb(255, 255, 255);
}


img:hover {
    border: 2px solid rgb(255, 255, 255);
}

img[src*="color-palette-space-theme.png"] {
    height: 120px;
    width: 180px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: top;
}

figcaption {
    font-size: 10px;
}

figcaption:hover {
    color: rgb(255, 255, 255);
}

aside {
    font-size: 13px;
    color: rgb(255, 255, 255);
}

aside.comment-reference {
    color: rgb(58, 76, 122);
}

/*
Color Palette References
#ffffff	(255,255,255)
#9da5bd	(157,165,189)
#3a4c7a	(58,76,122)
#0a205a	(10,32,90)
#040c24	(4,12,36)
*/
