p {
  font-size: 20px;
}
/*this is a tag selector for editng*/

div {
  border: 2px solid rgb(255, 229, 180);
}
/*border edit is size, type, color*/
/*this is a universal selector for editing, which means it wall apply to all*/
.title {
  color: black;
}
/*this selector uses dot, this is for classes*/
.stronks {
  text-tranform: lowercase;
}
#LoveLetter {
  font-family: cursive;
  font-size: : 25px;
  font-weight: bold;
}

#author {
  font-family: cursive;
  font-weight: lighter;
}
/**/

#last-line {
  font-family: cursive;
}
/* this selector uses a number sign, this is for id */

/*
adding notes you may use the slashes and asterisks
*/
a[href*='love'] {
  color: black;
}

a:hover {
  color: red;
}

p.background {
  background-color: white;
}

.paragrapu p {
  color: black;
}

h1,
  p,
   a {
     font-family: 'Perpetua';
     background-color: white;
     text-align: center;
     opacity: 0.60;
   }

/*
there is a syntax important <!important> it overrides any set style acroos
any stylesheet
*/

div {
  float: ;
  width: 30%;
}

div {
  background-image: url(/CSS-Lessons/Letter-BG.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 31% 100%;
  height: 550px;
}
