p {
  font-size: 20px;
}
/*this is a tag selector for editng*/

* {
  border: 2px solid purple;
}
/*border edit is size, type, color*/
/*this is a universal selector for editing, which means it wall apply to all*/
.title {
  color: rgb(57, 255, 20);
}
/*this selector uses dot, this is for classes*/
.stronks {
  text-tranform: lowercase;
}
#LoveLetter {
  font-family: cursive;
  font-size: : 25px;
  font-weight: bold;
}

#author {
  font-family: cursive;
  font-weight: lighter;
}
/**/

#last-line {
  font-family: cursive;
}
/* this selector uses a number sign, this is for id */

/*
adding notes you may use the slashes and asterisks
*/
a[href*='love'] {
  color: rgb(176, 38, 255);
}

a:hover {
  color: red;
}

p.background {
  background-color: black;
}

.paragrapu p {
  color: rgb(57, 255, 20);
}

h1,
  p,
   a {
     font-family: 'Perpetua';
     background-color: black;
     text-align: center;
   }
