p {
  color: green;
}
/*this is a tag selector for editng*/

* {
  border: 1px solid green;
}
/*border edit is size, type, color*/
/*this is a universal selector for editing, which means it wall apply to all*/
.title {
  color: teal;
}
/*this selector uses dot, this is for classes*/
.stronks {
  text-tranform: lowercase;
}
/**/

#last-line {
  font-family: cursive;
}
/* this selector uses a number sign, this is for id */

/*
adding notes you may use the slashes and asterisks
*/
a[href*='love'] {
  color: lightblue;
}

a:hover {
  color: red;
}

p.background {
  background-color: black;
}
